html{
    background-color: orange;
}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px;
    column-gap: 3px;
}
#one{
    background-color: red;
    border: 2px black solid;
}
#two{
    background-color: green;
    border: 2px black solid;
}
#three{
    background-color: blue;
    border: 2px black solid;
}
#four{
    background-color: paleturquoise;
    border: 2px black solid;
}











